<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fruits App</title>
</head>
<body>
  <h1>Welcome to the Fruits app!</h1>
  <a href="/fruits">Browse Fruits</a>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem deserunt asperiores et eius explicabo facere consectetur iusto error repellat quis.</p>
</body>
</html>